.navbar {
  overflow: hidden;
  background-color: orangered;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1rem;
}

.navbar a:hover {
  background: #333;
  color: orangered;
}

main {
  padding-top: 20px;
  margin: 0.5rem;
  padding: 1rem;
}

#welcome-section {
  width: 100%;
  min-height: 40rem;
 
  background-color: var(--main-gray);
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.projects-grid {
    max-width: 100%;
    max-height: 100rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.3rem;
}

.project-title p {
    align-content: bottom; 
    text-align: center;
    background-color: grey;
    transition: color 0.3s ease-out;
}

.project-img {
    width: 100%;
    border-radius: 1rem;
}

#projects {
  min-height: 33rem;
  max-height: 100rem;
  padding-top: 3rem;
  text-align: center;
}

#contact {
	min-height: 33rem;
  text-align: center;
  position: inherit
}

.contact {
  min-height: 33rem;
  text-align: center;
}

.footer {
  position: relative;
  text-align: center;
}