html {
 
}
body {
  background-color: var(--main-gray)
}

.headeline {
   
}

div {
 
}

nav {
	
}

button {
	
}

h1 {
	
}

p {
	
}

a {
	
}

a:hover {

}

a:visisted {

}

header {
 
}

main {
  
}

.footer {
  
}

hr {
	
}

img {
	
}
