* {
  margin: 0rem;
  padding: 0rem;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  font-size: 14px;
  background-color: var(--background-main);
}

.headeline {
   
}

div {
 
}

nav {
	
}

button {
	
}

h1 {
	
}

p {
	
}

a {
	
}

a:hover {

}

a:active {

}

a:visisted {

}

header {
 
}

main {
  
}

.footer {
  
}

hr {
	
}

img {
	
}
