body {
  font-family: var(--font-main);
  color: var(--text);
}

#main-doc {
  display: block;
  position: relative;
  top: 0;
  left: 25%;
  width: 65%;
  min-width: 290px;
  margin: 2%;
}
.nav-bar {
  display: block;
  background-color: var(--background);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25%;
  height: 100%;
  border: 2px solid var(--secondary-alt);
}

.nav-header {
  display: block;
  font-family: var(--font-h1);
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-alt);
  text-shadow: 0.1em 0.1em 0.15em var(--background);
}

.nav-link {
  display: block;
  text-decoration: none;
  text-align: left;
  color: var(--text);
  line-height: 2.2;
}

a:hover {
  color: var(--secondary);
  text-shadow: 0.1em 0.1em 0.15em var(--background-alt);
}

.main-section {
  min-width: 290px;
  text-align: left;
  /* border: 2px solid var(--secondary-alt); */
}

.header {
  display: block;
  font-family: var(--font-h1);
  font-size: 2rem;
  color: var(--secondary);
  margin: 2%;
  text-shadow: 0.1em 0.1em 0.15em var(--background-alt);
}

article p, li {
  text-align: justify;
  font-size: 0.96rem;
  margin: 2%;
  line-height: 1.5;
}
